<ion-header [translucent]="true">
  <ion-toolbar class="black-header">
    <ion-title > Evaluación Docentes </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollY]="true">

<ion-content [fullscreen]="true" class="main">
  <div class="user-inputs">
    <div class="contenedor-input">
      <ion-input [(ngModel)]="username" name="username" class="custom-input" label="Username:" label-placement="floating" fill="outline" placeholder="Inserta tu username"></ion-input>
    </div>
    <div class="contenedor-input">
      <ion-input [(ngModel)]="password" name="password" class="custom-input" label="Password:" label-placement="floating" fill="outline" placeholder="Inserta tu password" type="password"></ion-input>
    </div>
    <br><br>
    <div class="button-container">
      <ion-button id="open-toast" class="custom-button" (click)="login(username, password)" fill="outline">Iniciar Sesión</ion-button>
      <div>
        <ion-toast [isOpen]="isToastOpen" (didDismiss)="setOpen(false)" message="El usuario y/o la contraseña son incorrectos" [duration]="5000"></ion-toast>
      </div>
    </div>
  </div>
</ion-content>

