.custom-input{
  margin-left: 20px;
  margin-right: 40px;
  --highlight-color:rgb(216, 110, 44);
  --keyboard-offset:10000px;
}

.contenedor-input{
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-radius: 17px;
  margin-left: 30px;
  margin-right: 65px;
}

.custom-button {
  color: rgb(216, 110, 44);
  --border-color: rgb(216, 110, 44);
  --border-radius: 8px; 
  margin-right: 30px;
}

.button-container{
  padding-left: 25px;
  display: flex;
  justify-content: center;
}

.user-inputs{
  top: 10%;
  position: relative;
}